
/*Global defines*/
body { margin:0px;}
html { background-color : #97A0A5;}
td { font-family:arial;color:white;}
h1  { font-size: 12pt; color:white; margin:3px 0px 3px 3px; font-family:arial }
h2 { font-size: 12pt;color:white; margin:3px 0px 7px 1x; font-family:arial}
button     { font-size: 12px;   padding: 5px 5px;   width:100px;      margin: 2px;      text-align: center;    }
span { font-family: arial;   font-size:10pt;  color: white;    }
table { border-collapse: collapse;    }

/*Class defines*/
.FontCommon{  font-size:10pt;  color:white;  font-family:arial;}
.LedImgStyle{		display: inline-block;border:0px solid #ddd;border-radius: 1px;padding: 5px 16px;margin-left: 10px;}
.InputasDisplay
{
  font-size:12px;
  font-weight:bold;  
  color:black;
  background-color: white;  
  height:18px;  
  width:120px;	
  text-align:center; 
  border-style  :solid;  
  border-width  :1px;
 }
 
.GrpFrame
{
  border-color:     white;
  border-style:     solid;
  border-width:     2px;
  Background-color: #AA312C;
  margin:           2px;
  padding:          3px;
}

.select_command {width:100px;margin:5px 0px;height:50px;line-height:50px;background:white;}
.btn_large { width:120px;height:50px;margin:2px;}

/*Global Elements*/
#Layer_TabStrip { height:100%; width:100%;}
#Layer_MessageLog { padding:2px;background-color: #97A0A5;float:left;width:100%; height: 210px; position:absolute;bottom:0;}
#MessageLogObj { height:174px;width:100%}

#ButtonGridClear {margin:2 0 0 0; width:120px; height:30px;}
#ButtonDebugLog  {margin:2 0 0 2; width:120px; height:30px;}

/*From commands*/
#Frame_Commands { height:100%;width:100%;  Background-color: #97A0A5;}
  #FrameInfo  { width:100%;}
    #FrameAssignID       { clear:left;padding:2px;}
    #FrameFirmwareVersion       { }
  #Frame_CommandGeneral { clear:left;width:100%;}
#inputCANID
{
  font-size     : 12px;
  font-weight   : bold;
  width         : 75px;
  text-align    : center;
  margin-right  : 5px;
}

/*From Axis Control*/
.select_axiscontrol {width:120px;margin:2px;height:40px;}
.btn_axis_control { width:120px;height:50px;margin:2px;}
#Frame_AxisControl {height:100%;width:100%;Background-color: #97A0A5;}
  #FrameAxisInfomation      {float:left;width:56%;height:220px}
  #FrameAxisElevOffsetCtrl  {float:left;width:56%;clear:left;}
  #FrameAxisMiscControl     {float:left;width:43%;height:421px}
/* From IO */
.select_iocontrol {width:120px;margin:2px;height:40px;}
#Frame_IOs { height:100%;width:100%;  Background-color: #97A0A5;}
  #Frame_Sensors { float:left;}
    #InnerFrame_Sensors { float:left;width:50%}
    #InnerFrame_IOButtons { width:50%;clear:left;float:right;}

    
/* From Endurance */
.InnerFrame_Endurance
{
  border-style:solid;
  border-color:white;
  border-width:1px;
  padding:5px;
  margin:2px;
  float:left;
}

#Frame_EnduranceTest {height:100%;width:100%;Background-color:#97A0A5;}
  #Frame_Endurance {}
    #InnerFrame_End_Settings{width:100%;}
    #InnerFrame_End_Info{width:100%;}
      #InnerFrame_timing{float:left;}
      #InnerFrame_trayexchangetime{float:left;padding-left:135px}
#test_runs {width : 100%;}
#table_trayselect td{text-align:center;border-color:white;border-width:1px;border-style:outset;}

/* From Debug */

#Frame_Debug { height:100%;width:100%;  Background-color: #97A0A5;}
#FrameSetEncoderPos {float:left;width:99.5%;}
#Frame_miscfunctions { padding:5px;width: 100%;}
#InnerFrame_encodervalue {float:left;}
#InnerFrame_encoderpos {margin:0px 0px 0px 20px;float:right;}

 